*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}
 
.container{
    width: 1070px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    display: flex;
    align-items: center;
}


/* header */

/* nav */

nav{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #ff6900;
    display: flex;
    align-items: stretch;
    box-shadow: 0 0 10px black;
    z-index: 20;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin: 0 20px 0 0;
}



nav .row{
    justify-content: space-between;
    margin: 20px auto;
}

.logo{
    width: 130px;
}

/* main */

main .container{
    margin-top: 130px;
}

.col-33{
    width: calc(100% / 3 - 10px);
    margin: 0 5px 60px 5px;
}

.content{
    position: relative;
}

.content img{
    width: 100%;
}

.first-img{
    display: block;
}


.second-img{
    display: none;
}

.content:hover .first-img{
    display: none;
}

.content:hover .second-img{
    display: block;
}

