*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}
 
.container{
    width: 1180px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
}


/* header */

/* nav */

nav{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #ff6900;
    display: flex;
    align-items: stretch;
    box-shadow: 0 0 10px black;
    z-index: 20;
}

nav a{
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin: 0 20px 0 0;
}



nav .row{
    justify-content: space-between;
    margin: 20px auto;
}

.logo{
    width: 130px;
}

/* main */

main .container{
    margin-top: 130px;
}

.col-33{
    width: calc(100% / 3 - 10px);
    margin: 0 5px 60px 5px;
}

.content{
    position: relative;
}

.content img{
    width: 100%;
}

.first-img{
    display: block;
}


.second-img{
    display: none;
}

.content:hover .first-img{
    display: none;
}

.content:hover .second-img{
    display: block;
}

.labels-row{
    position: absolute;
    bottom: 80px;
    left: 0;
    width: fit-content;
}

/* labels */
    .label{
        color: white;
        font-size: 13px;
        padding: 5px 10px;
        font-weight: 700;
    }

    .discount{
        background-color: red;
        margin-right: 2px;
    }

    .eco{
        background-color: green;
    }

.heart{
    background-color: white;
    font-size: 40px;
    position: absolute;
    top: 10px;
    right: 0;
    width: 50px;
    height: 50px;
    text-align: center;
}

.price, .productor{
    font-size: 12px;
    font-weight: 600;
}

.price{
    color: red;
    font-weight: 800;
}

.price>span{
    color: gainsboro;
    text-decoration: line-through;
}

footer{
    background-color: #1a1a1a;
    width: 100%;
    color: white;
    padding: 20px 0;
}

footer .row{
    justify-content: space-between;
}

footer .col{
    display: inline-block;
}

.fa-brands{
    margin-left: 5px;
}

footer a {
    color: inherit;
    font-size: 12px;
    margin-right: 3px;
}

